.add-room {
	display: inline-block;
	text-align: center;
	position: fixed;
	height: 50px;
	width: 420px;
	background-color: gray;
	overflow-y: scroll;
}

.rooms {
	position: fixed;
	top: 80px;
	display: inline-block;
	width: 420px;
}