.add-room {
	display: inline-block;
	text-align: center;
	position: fixed;
	height: 50px;
	width: 420px;
	background-color: gray;
	overflow-y: scroll;
}

.new-room-form {
	margin: auto;
}

.rooms {
	height: 100%;
	width: auto;
	position: fixed;
	top: 80px;
	display: inline-block;
	width: 420px;
	overflow-y: scroll;
}

.rooms table {
	cursor: pointer;
	font-size: 3rem;
	width: auto;
}

.room-name {
	text-align: right;	
}

.messages-container {
	display: inline-block;
	position: fixed;
	top: auto;
	right: 0px;
	left: 420px;
	height: 100%;
	width: auto;
	background-color: rgb(228,228,228);
	font-size: 3rem;
	overflow-x: visible;
}

.room-title {
	width: auto;
	height: auto;
	font-weight: 700;
	padding-left: 5px;
	margin-left: 5px;
}

.message-content {
	width: auto;
	height: auto;
	background-color: white;
	font-size: 1.5rem;
	line-height: 1.75;
	border: 1px solid black;
	border-radius: 8px;
	margin: 1px;
	overflow-x: visible;
	padding-left: 5px;
	margin-left: 5px;
}

.message2 {
	width: auto;
	height: auto;
}