/**
html {
	height: 100%;
	font-size: 100%;
	box-sizing: border-box;
	background-color: grey;
}
**/
*, *:before, *:after {
  box-sizing: inherit;
}

.index {
	overflow-y: hidden;
	margin: 0px;
}

.horiz-center {
	text-align: center;
}

html,body,.container {
  height:100%;
}
.main {
  display: table;
  height: calc(100% - 80px);
  width: 100%;
  margin-top: -20px;
  padding: 20px 0 0 0; /*set left/right padding according to needs*/
  box-sizing: border-box;
}

.rooms-main {
  height: inherit;
  display: table-row;
}

.col-md-9.no-float {
	height: inherit;
	overflow-y: hidden;
}

.row.no-float {
  display: table-cell;
  float: none;
  height: 100%;
}

.row.my-row {
	height: 100%;
	overflow-y: scroll;
}
