<section>
	<div class="add-room">
		<form ng-submit="addRoom(roomName)">
			<label>Add a Room!<br>
			<input class="input" type="text" name="add_room" ng-model="roomName" placeholder="Room Name"></label>
			<input type="button" value="Add it, baby" ng-click="addRoom(roomName)">
		</form>
	</div>
	<div class="rooms">
		<table>
			<tr class="room-name" ng-repeat="room in rooms">
				<td ng-click="chooseActiveRoom(room.room)">{{ room.room }}</td>
			</tr>
		</table>
		<table ng-if="roomName">
			<tr>
				<td>{{ roomName }}</td>
			</tr>
		</table>
	</div>
</section>

<ng-include src="'/templates/messages.html'"></ng-include>